body {
  color: var(--000000, #000);
  background-color: #233000;
  font-feature-settings: "clig" off, "liga" off;
}

code {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
